body {
    background-color: #222222;
    color: white;
    > .chat {
        border:thin solid;
        > tbody > tr {
            > td.time,td.btn {white-space:nowrap;}
            > td.text {
                font-size:smaller;
            }
            > td.btn {
                * {background-color:grey;}
                .on {background-color:green;}
            }
        }
    }
}
