body {
    font-size:0.9em;
    button{font-size:xx-small;}
    background-color: #222222;
    color: white;
    button {background-color:grey;}
    button.on{background-color:rgb(248, 66, 66);}
    a{color: #66cfff;}
    > span.convert > .val{width: 20em;}
    > span {
        margin-left:1em;
        .val{margin-left:0.5em;}
    }
    > button {margin-left:1em;}
    > table.chat {
        border:thin solid;
        td {padding: 0 3px 0 3px;}
        //tr{
            //margin:0;padding:0;
            //td{margin:0;padding:0;}
        //}
        td.count {
            background-color:rgb(73, 17, 69);
            text-align:right;
        }
        td.size {
            background-color:rgb(22, 99, 26);
            text-align:right;
        }
        td.text {
            //font-size:smaller;
            //width:800px;
            white-space:wrap;
        }
    > tbody > tr {
            > td.time,td.btn {white-space:nowrap;}
            > td.text {
                font-size:1em;
                //width:800px;
            }
        }
    }
}
